body {
    background: #111827;
    color: #e5e7eb;
    font-family: Arial;
    text-align: center;
}

h1 { color: #38bdf8; margin-bottom: 20px; }

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1f2937;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #374151;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #1f2937;
}

tr:nth-child(odd) {
    background-color: #111827;
}

